{% extends "base.html" %}
{% block title %}
  Список услуг
{% endblock %}
{% block content %}
  <h1>Наши услуги</h1>
  {% for service in object_list %}
    <div class="card col-4 text-white bg-primary mb-3 mt-3">
      {% if service.image %}
        <a href="{{ service.image.url }}" target="_blank">
          <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ service.image.url }}">
        </a>
      {% endif %}
      <div class="card-body">
        <h3>{{ service.name }}</h3>
        <h3>{{ service.short_description }}</h3>
        <p>{{ service.cost }} ₽</p>
        <a class="link-body-emphasis" href="{% url 'services:service_detail' service.id %}">Подробнее...</a>
      </div>
    </div>
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}