{% extends "base.html" %}
{% block title %}
  Список услуг
{% endblock %}
{% block content %}
  {% if service.is_provided %}
    <div class="card col-6 text-white bg-primary mb-3 mt-3">
      {% if service.image %}
        <a href="{{ service.image.url }}" target="_blank">
          <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ service.image.url }}">
        </a>
      {% endif %}
      <div class="card-body">
        <h2>{{ service.name }}</h2>
        <p>{{ service.description }}</p>
        <p>Стоимость: {{ service.cost }} ₽</p>
        <p>Длительность: {{ service.duration_minutes }} минут</p>
        <a role="button" href="{% url 'core:about' %}" class="btn btn-secondary">Заказать услугу</a>
      </div>
    </div>
  {% else %}
    <h1>Услуга на данный момент не предоставляется</h1>
  {% endif %}
{% endblock %}