{% extends "base.html" %}
{% block title %}
  Новости
{% endblock %}
{% block content %}
  {% if news.is_published %}
    <h1>{{ news.title }}</h1>
    <p>{{ news.created_at }}</p>
    {% if news.image %}
      <a href="{{ news.image.url }}" target="_blank">
        <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ news.image.url }}">
      </a>
    {% endif %}
    <p>{{ news.text }}</p>
    <h3>Последние новости</h3>
    {% for latest in latest_news %}
      <a class="link-info" href="{% url 'news:news_detail' latest.id %}">{{ latest.title }}</a> <br>
    {% endfor %}
  {% else %}
    Новость пока не опубликована
  {% endif %}
{% endblock %}