{% extends "base.html" %}
{% block title %}
  Главная страница
{% endblock %}
{% block content %}
  <h1>Главная страница</h1>
  <p>Приветствие</p>
  <p>Слоган</p>

  <section>
    <h2>Ключевые услуги</h2>
    {% for service in services %}
    <div class="card col-4 text-white bg-primary mb-3 mt-3">
      <div class="card-body">
        <h3>{{ service.name }}</h3>
        <p>{{ service.cost }} ₽</p>
        <a class="link-body-emphasis" href="{% url 'services:service_detail' service.id %}">Подробнее...</a>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Последние новости</h2>
    {% for news in news_list %}
    <div class="card col-4 text-white bg-secondary mb-3 mt-3">
      <div class="card-body">
        <h3>{{ news.title }}</h3>
        <a class="link-body-emphasis" href="{% url 'news:news_detail' news.id %}">Подробнее...</a>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Почему мы?</h2>
    <ul>
      <li>Тезис 1</li>
      <li>Тезис 2</li>
    </ul>
  </section>

  <a href="{% url 'core:about' %}">Связаться с нами</a>
{% endblock %}