{% extends "base.html" %}
{% block title %}
  Главная страница
{% endblock %}
{% block content %}
  <h1>MediCore</h1>
  <h3>Ваше здоровье — в надежных руках.</h3>
  <h3>MediCore — где забота и профессионализм становятся ядром вашего здоровья.</h3>

  <section class="my-5">
    <h2>Ключевые услуги</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for service in services %}
      <div class="col">
        <div class="card text-white bg-primary mb-3 mt-3">
          {% if service.image %}
            <a href="{{ service.image.url }}" target="_blank">
              <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ service.image.url }}">
            </a>
          {% endif %}
          <div class="card-body">
            <h3>{{ service.name }}</h3>
            <h3>{{ service.short_description }}</h3>
            <p>{{ service.cost }} ₽</p>
            <a class="link-body-emphasis" href="{% url 'services:service_detail' service.id %}">Подробнее...</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="my-5">
    <h2>Последние новости</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for news in news_list %}
      <div class="col">
        <div class="card text-white bg-secondary mb-3 mt-3">
          {% if news.image %}
            <a href="{{ news.image.url }}" target="_blank">
              <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" height="50" src="{{ news.image.url }}">
            </a>
          {% endif %}
          <div class="card-body">
            <h3>{{ news.title }}</h3>
            <a class="link-body-emphasis" href="{% url 'news:news_detail' news.id %}">Подробнее...</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="my-5">
    <h2>Почему мы?</h2>
    <ul class="text-success">
      <li><h5>Профессионализм и опыт</h5></li>
      <li><h5>Индивидуальный подход</h5></li>
      <li><h5>Современное оборудование</h5></li>
      <li><h5>Прозрачность и честность</h5></li>
    </ul>
  </section>

  <a href="{% url 'core:about' %}" class="link-opacity-50-hover link-secondary"><h5>Связаться с нами</h5></a>
{% endblock %}