{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'core:homepage' %}">
        МедУслуги
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'core:homepage' %} active {% endif %}" href="{% url 'core:homepage' %}">
              Главная
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'services:services_list' %} active {% endif %}" href="{% url 'services:services_list' %}">
              Список Услуг
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'core:about' %} active {% endif %}" href="{% url 'core:about' %}">
              О нас
            </a>
          </li>
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>